{
  "parser": "babel-eslint",
  "parserOptions":
  {
    "allowImportExportEverywhere": true
  },
  "env": {
    "browser": true,
    "node": true
  },
  "extends": [
    "airbnb"
  ],
  "rules": {
    "indent": [2, 2],
    "import/prefer-default-export": "off",
    "import/no-extraneous-dependencies": 0,
    "import/extensions": ["off", "never"],
    "global-require": 0,
    "no-await-in-loop": 0,
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/require-default-props": [0]
  }
}
